/* Your CSS goes here */


p {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	font-weight: bold;
	margin: 25px 0 25px 0;

}
input {
	background-color: yellow;
}

#lastname {
	font-weight: bold;
}